@model List<TutorApp.Website.Models.Class>
@{
}
<div class="isotope_filters isotope-courses-streampag">
    <a href="dashboard" data-filter="*" class="isotope_filters_button " onclick="toDashboard()">Home</a>
    <a href="#" data-filter="*" class="isotope_filters_button classes_btn active">
        Classes
    </a>
   @*  <a href="#" data-filter="*" style="display: none;" class="isotope_filters_button" id="subjects-btn" onclick="viewSubjects()">
        Subjects
    </a> *@
</div>
<button type="button" asp-action="AddClass" class="btn btn-link nav-link text-dark" style="margin-bottom: 15px;" onclick="addClass()">Add Class</button>
<div class="isotope_wrap" data-columns="4">
    @foreach (var _class in Model)
    {
        <div id="subject-@_class.ClassId" class="subject-topics">
            <!-- classes item -->
            <div class="isotope_item isotope_item_courses isotope_column_3 flt_@_class.ClassId">
                <article class="post_item post_item_courses odd">
                    <div class="post_content isotope_item_content ih-item colored square effect_dir left_to_right">
                        <div class="post_featured img_@_class.ClassId">
                            <!-- Remove href="javascript:void(0);" -->
                            <a href="javascript:void(0)" onclick="selectClass(@_class.ClassId, '@_class.ClassName')">
                                <img alt="@_class.ClassName" src="https://img.freepik.com/premium-photo/education-elements-illustration-with-education-day-back-school-poster-earth-globe-graduation-cap-pencil-book-white-background_551826-23999.jpg?semt=ais_hybrid">
                            </a>
                            <!-- Updated Topic Link -->
                            <h4 class="post_title">
                                @(_class.ClassName)
                                @* @Html.ActionLink(_class.ClassName, "ViewTopic", "Student", null) *@
                            </h4>
                            <span class="delete-icon position-absolute" style="cursor: pointer" onclick="deleteClass(@_class.ClassId)">
                                <img alt="" src="~/images/trash-icon.png" style="float:right;width: 14px;" />
                            </span>
                        </div>
                    </div>
                </article>
            </div>
            <!-- /Topic item -->
        </div>

    }
</div>
<script>
    function addClass() {
        window.location.href = "addclass";
    }
    var selectedClassId = null;
    var selectedClassName = '';

    function selectClass(classId, className) {
        selectedClassId = classId;
        @*  selectedClassName = className;
            document.querySelector('.classes_btn').textContent = className;
            document.getElementById('subjects-btn').style.display = 'block'; *@

            viewSubjects();
    }

    function viewSubjects() {
        window.location.href = `subjects?classId=${selectedClassId}`;
    }
    function toDashboard() {
        window.location.href = `dashboard`;
    }
    function deleteClass(classId) {
        if (confirm("Are you sure you want to delete this class?")) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteClass", "Admin")",
                data: { classId: classId },
                success: function (response) {
                    if (response.success) {
                        location.reload();
                    } else {
                        alert(response.message);
                    }
                }
            });
        }
    }
</script>